.bookmarks-container {
  width: 450px;
  background-color: #1111110d;
  border-radius: 8px;
  height: 800px;
  margin-top: 30px;
  margin-left: 50px;
  padding: 20px 10px;
}

.reading-time-container {
  background-color: #6047ec1a;
  border: 1px solid #6047ec;
  border-radius: 8px;
  width: 450px;
  height: 50px;
  margin-top: 50px;
  margin-left: 50px;
}
